<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minha Página</title>
    <style>
      body {
        background-color: #f0f0f0;
        text-align: center;
      }

      .header {
        background-color: #333;
        color: #fff;
        padding: 20px;
      }

      img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <h1>Meu Cabeçalho</h1>
    </div>
    <img
      src="https://w7.pngwing.com/pngs/56/223/png-transparent-node-js-javascript-computer-icons-github-angle-text-logo.png"
      alt="Logo"
    />
  </body>
</html>
