/* fontes */
@font-face {
  font-family: 'DIN Round Pro';
  src: url('/fonts/DINRoundPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Feather Bold';
  src: url('/fonts/FeatherBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.specialinput{
  input{
    background-color: light-dark(rgb(249 250 251 ), var(--mantine-color-dark-6));
    border-width: 2px;
    border-radius: 1rem;
    flex-grow: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    font-size: 16px
  }
  
  input:disabled{
    opacity: 0.9;
    color: var(--mantine-color-bright);
  }
  //password
  .mantine-PasswordInput-input{
    background-color: light-dark(rgb(249 250 251 ), var(--mantine-color-dark-6));
    border-width: 2px;
    border-radius: 1rem;
    flex-grow: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }

   textarea{
    background-color: light-dark(rgb(249 250 251 ), var(--mantine-color-dark-6));
    border-width: 2px;
    border-radius: 1rem;
    flex-grow: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    font-size: 16px
  }

  button{
    background-color: light-dark(rgb(249 250 251 ), var(--mantine-color-dark-6));
    border-width: 2px;
    border-radius: 1rem;
    flex-grow: 1;
    font-size: 16px
  }
  .mantine-NumberInput-controls{
    margin-left: 0px;
    margin-right: 0px;
  }
}

