/* fontes */
@font-face {
  font-family: 'DIN Round Pro';
  src: url('/fonts/DINRoundPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Feather Bold';
  src: url('/fonts/FeatherBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
