.card {
  position: relative;
  width: 245px;
  height: 330px;
  color: white;
  cursor: pointer;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
  border: 4px solid #DAA520;
}

.card__face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  @media screen and (min-width: 1200px) {
    transition: 1s ease-in-out;
    -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
  }

  span{
    background: var(--avatar-bg, hsl(0deg 0% 0% / 15%))!important;
  }
  .mantine-Avatar-root{
     background: var(--avatar-bg, hsl(0deg 0% 0% / 15%))!important;
  }
}


.card__face--back {
  transform: rotateY(0.5turn);
}

.is-flipped {
  transform: rotateY(0.5turn);
}

.relative{
  position: relative;
}

.opacity{
  opacity: 0.6;
}

.AvatarPlaceholder{
  background: var(--avatar-bg, hsl(0deg 0% 0% / 15%));
  align-items: center;
  border: var(--avatar-bd, calc(.0625rem* var(--mantine-scale)) solid transparent);
  border-radius: var(--avatar-radius);
  color: var(--avatar-color, var(--mantine-color-gray-light-color));
  display: flex;
  font-size: calc(var(--_avatar-size)/2.5);
  font-weight: 700;
  height: 100%;
  justify-content: center;
  user-select: none;
  width: 100%;
}