.avatars {
  justify-content: center;
  display: flex;
}

.avatar {
  border: 0.3rem solid var(--mantine-color-gray-4);
  padding: 0.2rem;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out; 
  margin: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.avatar img {
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  cursor: pointer;
}

.selected {
  border: 0.3rem solid var(--mantine-primary-color-filled);
}
