$disabled: #9c9c9c;

.minHeight{
  @media (min-width: 1200px) {
    min-height: 600px;
  }
}

.card {
  border-radius: 4px;
  margin-top: 20px;
  padding: 30px 60px;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  justify-content: center;

  .activeQuestion {
    font-size: 32px;
  }


  .answerDiv {
    margin-top: 50px;
      ul {
    margin-top: 20px;
    margin-left: -40px;

    li {
      text-decoration: none;
      list-style: none;
      color: var(--_input-color);
      //background: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-2));
      border-radius: 16px;
      padding: 16px;
      margin-top: 15px;
      cursor: pointer;
      cursor: pointer;
      outline: 0;
      touch-action: manipulation;
      transition: border-bottom-width 0.2s ease; 
      border: 2px solid var(--mantine-color-gray-3);
      border-width: 2px;
      border-bottom-width: 4px;
      min-height: 60px;

      &:hover {
        filter: brightness(90%);
        transition: filter 0.2s ease; 
      }

      &:active{
        border-bottom-width: 2px;
      }

      span{
        font-size: 16px;
        font-weight: 400;
      }

    }

    .selectedAnswer {
      /* background: linear-gradient(90deg, var(--mantine-color-blue-filled) 0%, var(--mantine-color-cyan-filled) 100%); */
      background: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-2));
      color: var(--mantine-color-bright);
      border-bottom-width: 2px;
      filter: brightness(90%);
      transition: filter 0.2s ease; 
    }

    .wrong{
      border: 2px solid rgb(139, 15, 15)!important;
      background: rgb(189, 64, 26)!important;
      font-weight: 700;
    }
    .correct{
      border: 2px solid green!important;
      background: #40c057!important;
      font-weight: 700;
    }
  }
  }

  .header {
   margin-bottom: 1rem;
   div{
    height: 15px;
   }
  }

  .reviewheader{
    margin-bottom: 1rem;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    border-top: calc(0.0625rem* var(--mantine-scale)) solid light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-4));
    padding: 1rem;
    
    @media (min-width: 1200px) {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

/*   input {
    border: 1px solid $disabled;
    border-radius: 4px;
    padding: 10px 20px;
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
  } */

}

.centered{
  align-items: center;
  justify-content: center;
  display: flex;
}

.hoverDownload{
  cursor: pointer;
  &:hover{
    color: var(--mantine-color-blue-filled);
  }
}

.wrong{
  border: 2px solid rgb(139, 15, 15)!important;
  font-weight: 700;
  border-radius: 1rem;
}

.correct{
  border: 2px solid green!important;
  font-weight: 700;
  border-radius: 1rem;
}