$disabled: #9c9c9c;

.card {
  border-radius: 4px;
  margin-top: 20px;
  padding: 30px 60px;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  justify-content: center;

  @media (min-width: 1200px) {
    min-height: 600px;
  }

  .activeQuestion {
    font-size: 32px;
  }

  h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
  }

  ul {
    margin-top: 20px;
    margin-left: -40px;

    li {
      text-decoration: none;
      list-style: none;
      color: var(--_input-color);
      //background: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-2));
      border-radius: 16px;
      padding: 16px;
      margin-top: 15px;
      cursor: pointer;
      cursor: pointer;
      outline: 0;
      touch-action: manipulation;
      transition: border-bottom-width 0.2s ease; 
      border: 2px solid var(--mantine-color-gray-3);
      border-width: 2px;
      border-bottom-width: 4px;
      min-height: 60px;

      &:hover {
        filter: brightness(90%);
        transition: filter 0.2s ease; 
      }

      &:active{
        border-bottom-width: 2px;
      }

      span{
        font-size: 16px;
        font-weight: 400;
      }

    }

    .selectedAnswer {
      /* background: linear-gradient(90deg, var(--mantine-color-blue-filled) 0%, var(--mantine-color-cyan-filled) 100%); */
      background: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-2));
      color: var(--mantine-color-bright);
      border-bottom-width: 2px;
      filter: brightness(90%);
      transition: filter 0.2s ease; 
    }
  }

  .answerDiv {
    margin-top: 50px;
  }

  .header {
   margin-bottom: 1rem;
   div{
    height: 15px;
   }
  }

  .body{

  }

  .footer {
    display: flex;
    justify-content: flex-end;
    border-top: calc(0.0625rem* var(--mantine-scale)) solid light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-4));
    padding: 1rem;
    
    @media (min-width: 1200px) {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  input {
    border: 1px solid $disabled;
    border-radius: 4px;
    padding: 10px 20px;
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
  }

}

.centered{
  align-items: center;
  justify-content: center;
  display: flex;
}