$disabled: #9c9c9c;

.card {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  border-radius: 4px;
  margin-top: 100px;
  padding: 30px 60px;
  box-sizing: border-box;
  position: relative;

  .activeQuestion {
    font-size: 32px;
  }

  h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
  }

  ul {
    margin-top: 20px;
    margin-left: -40px;

    li {
      text-decoration: none;
      list-style: none;
      color: var(--mantine-color-body);
      font-size: 16px;
      background: var(--mantine-color-bright);
      border: 1px solid $disabled;
      border-radius: 16px;
      padding: 11px;
      margin-top: 15px;
      cursor: pointer;
    }

    .selectedAnswer {
      background: var(--mantine-color-anchor);
      border: 1px solid var(--mantine-color-anchor);
      color: var(--mantine-color-bright);
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
  }


  input {
    border: 1px solid $disabled;
    border-radius: 4px;
    padding: 10px 20px;
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
  }

  button{
    &:disabled{
      border: 1px solid $disabled;
    }
  }
}
