$disabled: #9c9c9c;

.card {
  border-radius: 4px;
  margin-top: 20px;
  padding: 30px 60px;
  box-sizing: border-box;
  position: relative;

  @media (min-width: 1200px) {
    min-height: 600px;
  }

  .activeQuestion {
    font-size: 32px;
  }

  h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
  }

  ul {
    margin-top: 20px;
    margin-left: -40px;

    li {
      text-decoration: none;
      list-style: none;
      color: var(--_input-color);
      background: #25262B;
      border: 1px solid $disabled;
      border-radius: 16px;
      padding: 11px;
      margin-top: 15px;
      cursor: pointer;
      span{
        font-size: 16px;
        font-weight: 400;
      }
    }

    .selectedAnswer {
      background: linear-gradient(90deg, var(--mantine-color-blue-filled) 0%, var(--mantine-color-cyan-filled) 100%);
      border: 1px solid linear-gradient(90deg, var(--mantine-color-blue-filled) 0%, var(--mantine-color-cyan-filled) 100%);
      color: var(--mantine-color-bright);
    }
  }

  .answerDiv {
    margin-top: 50px;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    
    @media (min-width: 1200px) {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      margin-left: -1.875rem;
      margin-bottom: 1.875rem;
    }
  }

  input {
    border: 1px solid $disabled;
    border-radius: 4px;
    padding: 10px 20px;
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
  }

  button{
    &:disabled{
      border: 1px solid $disabled;
    }
  }
}
